Чтобы код работал, необходимо иметь установленными библиотеки pandas, matplotlib, openpyxl.
Их можно установить через терминал с помощью команды pip install "имя библиотеки", если они еще не установлены.
Посмотреть установлена библиотека или нет можно в терминале с помощью команды pip show "имя библиотеки".

Также необходимо загрузить датасет из прилагаемого файла "Onlineretail.xlsx" и поместить его в нужную директорию.
Проще всего это сделать, скопировав репозиторий через терминал с помощью git clone https://github.com/imamorr/online-retail-analysis ,
однако для этого нужно иметь установленный git.